.android/
.bash_history
.cache/
.config/
.gitconfig
.gradle/
.last_sms_id.txt
.local/
.mariadb_histor
.node_repl_history
.npm/
.ssh/
.termux/
DVWA/
DeviceAdminApp/
ZER0-UPDATES/
__pycache__/
aapt2
android-sdk/
autoreply.sh
autoreply/
bot.js
brute.py
downloads/
filedrop-bot/
git
install-repo.sh*
ngrok.tgz
nohup.out
send_text.sh
storage/
telegram-bot/
wordlist.txt
zer0-worker/
blck-cyb-zer0.github.io/
dailynews/
